.box-img-preview-user {
    border: 2px solid #eee;
    height: 100%;
    width: 40%;
    object-fit: cover;
    background: no-repeat center center;
    background-size: cover;
    cursor: pointer;
}