.box-email-verify{
    display: flex;
    align-items: center;
    
}
.box-email-verify svg{
   margin-left: 4px;
    
}
.text-verify{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.carousel-inner{
    width: 452px !important;
    height: 450px !important;
}

.relative {
    position: relative;
}

.hover-pointer:hover {
    cursor: pointer;
}

@media screen and (max-width: 1279.98px) {
    .my-font {
        font-size: 10px;
    }
    .single-job-items .job-tittle ul li {
        font-size: 12px;
    }
}

.section-tittle span {
    color: #f78809;
}
.apply-process-area .single-process {
    background-color: #FFD15C;
}
.apply-process-area .single-process .process-cap h5 {
    color: #0B4A3B;
}
.apply-process-area .single-process .process-ion span {
    color: #0B4A3B;
}
